
@main("Dyslexic Character Sheets") {
	<header id='bodyheader'>
	  <h1>Dyslexic Character Sheets</h1>

	  <nav class='tabs'>
	    <ul>
	    <li><a href='/'>&laquo; Back to intro</a></li>
	    	<li><a rel='#translate-tab' class='selected'>Translation</a></li>
	    	<li><a rel='#howto-tab'>How it works</a></li>
	    </ul>
	  </nav>
	</header>

  <section class='tab selected' id='translate-tab'>
    <h2 id='license-tab-title'>Translators wanted!</h2>

  	<p>Would you like to see this project in your own language? The surest way of doing that is to help out with the translation.</p>

    <div class='yui3-g'>
      <div class='yui3-u-1-2'><div class='col left'>

      	<p>The project is pretty big, but it's also collaborative. The more people join in, the less work it will be for each person. If you're interested in helping, drop me a line.</p>

      	<p class='center'><a rel='#message-lightbox' class='button lightbox messageme' href='/message'>Contact me</a></p>

      	<h3>What am I signing up for?</h3>

      	<p>Head over to <a href='#howto-tab'>How it works</a> to see what's involved in being a volunteer translator.</p>

      	<p>Translation is about working with others. Be prepared to talk to your fellow translators, vote different options up and down, and spend time looking through previews looking for mistakes.</p>

      	<p>If there's an official translation of the books for your language, it's best to have a legal copy of them.</p>

      </div></div>
      <div class='yui3-u-1-2'><div class='col right'>

      	<h3>What languages are there?</h3>

      	<p>I have at least one translator on board for each of the following languages:</p>

      	<ul>
      		<li>Italian</li>
      		<li>German</li>
      		<li>Spanish</li>
      		<li>French</li>
      		<li>Russian</li>
      		<li>Portuguese</li>
      		<li>Brazilian Portuguese</li>
      		<li>Polish</li>
      		<li>Dutch</li>
      	</ul>

      	<h3>Is there any reward?</h3>

      	<p>No, only glory and the pride of knowing you did something great.</p>

      	<p>Oh, and you get to have character sheets in your own language.</p>

      </div></div>
  	</div>
  </section>



  <section class='tab' id='howto-tab'>
    <h2 id='license-tab-title'>How translation works</h2>

    <div class='yui3-g'>
      <div class='yui3-u-1-2'><div class='col left'>

      	<p>Translation is done on a special website that you can find here:</p>

      	<p class='center'><a class='button' href='https://translate.dyslexic-charactersheets.com'>Translation Site</a></p>

      	<p>You'll need an account before you can log in. If you have one already, click on <b><u>Reclaim account</u></b> and enter your email address; it'll send you an email with a link to click. If you don't have one, <a rel='#message-lightbox' href='/message'>send me a message</a>.</p>

      	<h3>Find lines to translate</h3>

      	<p>Click on the <b><u>Translate</u></b> button at the top. Select <b><u>Show: Untranslated</u></b> to pick lines that haven't been translated yet. Select <b><u>Sources: Core</u></b> to show only lines that are relevant to the core rulebook, which is the most important bit.</p>

      	<p>To find a specific line, use the search box.</p>

      	<h3>Enter a translation</h3>

      	<p>Some lines have more than one part. If a line contains more than one font/style, the line is split into parts. Your translation will get the same fonts in the same order.</p>

      	<p>If a line contains a line break, that appears as a vertical bar "|". Your translation should have a line break as well.</p>

      </div></div>
      <div class='yui3-u-1-2'><div class='col right'>

      	<h3>Compare with other lines</h3>

      	<p>At the bottom of the screen is a black bar with a search box. Type search words in here to find existing translations with those words.</p>

      	<h3>What if translators disagree? How are conflicts resolved?</h3>

      	<p>A line can have more than one translation. Each translator gets to suggest a different translation. How does it know which one to pick? Simple: it counts votes.</p>

      	<ul>
      		<li>If you enter a translation, you're assumed to vote for it. If two people enter the same translation, it counts as two votes.</li>
      		<li>If you click the <b>vote up</b> button, it gets a vote.</li>
      		<li>If you click the <b>vote down</b> button, it loses a vote.</li>
      		<li>As a tie-breaker, the language lead gets 1½ votes.</li>
      	</ul>

      	<h3>Previews</h3>

      	<p>Click on the <b><u>Sources</u></b> button at the top.</p>

      </div></div>
  	</div>

  </section>

}